{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "quotes": 0,
    "indent": ["error", 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-debugger": 0,
    "semi": [1, "always"],
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "no-async-promise-executor": 0,
    "no-misleading-character-class": 0,
    "no-useless-catch": 0,
    "require-atomic-updates": 0,
    "no-unused-vars": [1, {
      "vars": "all",
      "args": "after-used"
    }]
  }
}
